<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- internet access permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealWeGo"
        tools:targetApi="31">

        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <meta-data

            android:name="com.google.android.geo.API_KEY"

            android:value="AIzaSyAaJ7GGeksOIz2wcBStD1WAIhsWqBU1fE0" />


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuthActivity"
            android:exported="true"
            android:noHistory="true">
        </activity>
        <activity android:name=".ReserveMainActivity">
        </activity>
        <activity android:name=".ChatListActivity">
        </activity>
        <!-- 외부 애플리케이션에서 호출 가능하려면 exported true로 변경 -->
        <activity android:name=".AloneSetActivity"
            android:exported="true">
        </activity>
        <activity android:name=".PaymentCompleteActivity" />

        <activity android:name=".PathSelect"/>
        <activity android:name=".MapPath"/>
        <activity android:name=".DestSelect"/>
        <activity android:name=".StartSelect"/>
        <activity android:name=".CreateRoomActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".TogetherSelectStart" />
        <activity android:name=".TogetherSelectDest" />
        <activity android:name=".MemInfoActivity" />
        <activity android:name=".CardInfoActivity" />
        <activity android:name=".ExplainPlaceActivity" />
        <!-- 팝업 Activity -->
        <activity android:name=".RecommendPopUpActivity" android:theme="@android:style/Theme.Dialog" />
    </application>

</manifest>